{% extends 'register/base.html' %}

{% block content %}

    <h1 style="text-align: center;">Welcome to Find My Frens</h1>
    <div class="sub">
        <div class="subbox">
            <h4>How It Works</h4>
            <p>If you are worried about being suspended you can let your followers know what your backup account is and when you are suspended, you can update your account here.
                Just register account and make a tweet so that we can verify it's you and then it will be shown here!
            </p>
        </div>
        <div class="subbox">
            <h4>How to use</h4>
            <p>After you register you can change you picture by going to your profile and clicking your profile picture. 
                If you get suspended, click edit info to change your @'s
            </p>
        </div>
        <div class="subbox">
            <h4>Under Construction!</h4>
            <p>Automated Twitter verification is not ready yet. If you feel you may be impersonated, send a DM to @GamerFromIsrael on Twitter to be verified manually.
            </p>
        </div>
        
    </div>
    
{% endblock %}